@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


html,body{
  height: 100%;
  width: 100%;
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


